<a href="https://colab.research.google.com/github/enikeevaRAMZ/Innopolis_PISH/blob/main/%D0%94%D0%97_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
df=pd.read_csv("US-News-Rankings-Liberal-Arts-Colleges-Through-2023.csv")

In [6]:
df

,College Name,State,IPEDS ID,2023,2022,2021,2020,2019,2018,2017,...,1995,1994,1993,1992,1991,1990,1989,1988,1986,1984
0,Williams College,MA,168342,1,1,1,1,1,1,1,...,2,2,1,1,3,3.0,3.0,1.0,1.0,2.0
1,Amherst College,MA,164465,2,2,2,2,2,2,2,...,1,1,2,3,1,2.0,2.0,4.0,3.0,1.0
2,Pomona College,CA,121345,3,4,4,5,5,6,7,...,5,5,5,5,6,4.0,5.0,6.0,7.0,9.0
3,Swarthmore College,PA,216287,4,3,3,3,3,3,4,...,3,3,3,2,2,1.0,1.0,2.0,2.0,2.0
4,Wellesley College,MA,168218,5,5,4,3,3,3,3,...,4,4,4,6,5,5.0,4.0,8.0,8.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,William Peace University,NC,199272,NaN,NaN,NaN,NaN,T2 (173-229),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,Williams Baptist University,AR,107877,NaN,T2 (168-222),T2 (171-221),T2 (164-215),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,Wingate University,NC,199962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,Wisconsin Lutheran College,WI,240338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,Xavier University of Louisiana,LA,160904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
356    False
357    False
358    False
359    False
360    False
Length: 361, dtype: bool

In [10]:
df.drop_duplicates()

,College Name,State,IPEDS ID,2023,2022,2021,2020,2019,2018,2017,...,1995,1994,1993,1992,1991,1990,1989,1988,1986,1984
0,Williams College,MA,168342,1,1,1,1,1,1,1,...,2,2,1,1,3,3.0,3.0,1.0,1.0,2.0
1,Amherst College,MA,164465,2,2,2,2,2,2,2,...,1,1,2,3,1,2.0,2.0,4.0,3.0,1.0
2,Pomona College,CA,121345,3,4,4,5,5,6,7,...,5,5,5,5,6,4.0,5.0,6.0,7.0,9.0
3,Swarthmore College,PA,216287,4,3,3,3,3,3,4,...,3,3,3,2,2,1.0,1.0,2.0,2.0,2.0
4,Wellesley College,MA,168218,5,5,4,3,3,3,3,...,4,4,4,6,5,5.0,4.0,8.0,8.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,William Peace University,NC,199272,NaN,NaN,NaN,NaN,T2 (173-229),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,Williams Baptist University,AR,107877,NaN,T2 (168-222),T2 (171-221),T2 (164-215),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,Wingate University,NC,199962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,Wisconsin Lutheran College,WI,240338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,Xavier University of Louisiana,LA,160904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df1=df.loc[:10]
df1

,College Name,State,IPEDS ID,2023,2022,2021,2020,2019,2018,2017,...,1995,1994,1993,1992,1991,1990,1989,1988,1986,1984
0,Williams College,MA,168342,1,1,1,1,1,1,1,...,2,2,1,1,3,3.0,3.0,1.0,1.0,2.0
1,Amherst College,MA,164465,2,2,2,2,2,2,2,...,1,1,2,3,1,2.0,2.0,4.0,3.0,1.0
2,Pomona College,CA,121345,3,4,4,5,5,6,7,...,5,5,5,5,6,4.0,5.0,6.0,7.0,9.0
3,Swarthmore College,PA,216287,4,3,3,3,3,3,4,...,3,3,3,2,2,1.0,1.0,2.0,2.0,2.0
4,Wellesley College,MA,168218,5,5,4,3,3,3,3,...,4,4,4,6,5,5.0,4.0,8.0,8.0,6.0
5,Bowdoin College,ME,161004,6,6,6,6,5,3,6,...,6,6,6,4,4,13.0,9.0,12.0,10.0,NaN
6,Carleton College,MN,173258,6,9,9,7,5,8,7,...,10,13,12,12,10,14.0,12.0,3.0,4.0,4.0
7,United States Naval Academy,MD,164155,6,6,6,17,22,21,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Claremont McKenna College,CA,112260,9,8,6,7,9,8,9,...,12,11,16,14,13,21.0,18.0,23.0,NaN,NaN
9,United States Military Academy,NY,197036,9,11,15,21,18,12,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Middlebury College,VT,230959,11,9,9,7,5,6,4,...,11,8,8,9,8,12.0,14.0,17.0,NaN,NaN

In [16]:
df2=df.loc[350:]
df2

,College Name,State,IPEDS ID,2023,2022,2021,2020,2019,2018,2017,...,1995,1994,1993,1992,1991,1990,1989,1988,1986,1984
350,Wesleyan College,GA,141325,NaN,157,149,145,143,141,140,...,T4 (121-160),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,West Virginia State University,WV,237899,NaN,NaN,NaN,NaN,T2 (173-229),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,West Virginia Wesleyan College,WV,237969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,Western Maryland College,MD,164270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,T4 (121-160),Q4 (106-140),Q4 (106-140),Q4 (106-140),Q4 (107-141),NaN,NaN,NaN,NaN,NaN
354,Western State College of Colorado,CO,128391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,William Jewell College,MO,179955,NaN,NaN,NaN,NaN,155,147,154,...,T4 (121-160),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,William Peace University,NC,199272,NaN,NaN,NaN,NaN,T2 (173-229),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,Williams Baptist University,AR,107877,NaN,T2 (168-222),T2 (171-221),T2 (164-215),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,Wingate University,NC,199962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,Wisconsin Lutheran College,WI,240338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,Xavier University of Louisiana,LA,160904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
result=pd.merge(df1, df2, how='outer')
result

,College Name,State,IPEDS ID,2023,2022,2021,2020,2019,2018,2017,...,1995,1994,1993,1992,1991,1990,1989,1988,1986,1984
0,Williams College,MA,168342,1,1,1,1,1,1,1,...,2,2,1,1,3,3.0,3.0,1.0,1.0,2.0
1,Amherst College,MA,164465,2,2,2,2,2,2,2,...,1,1,2,3,1,2.0,2.0,4.0,3.0,1.0
2,Pomona College,CA,121345,3,4,4,5,5,6,7,...,5,5,5,5,6,4.0,5.0,6.0,7.0,9.0
3,Swarthmore College,PA,216287,4,3,3,3,3,3,4,...,3,3,3,2,2,1.0,1.0,2.0,2.0,2.0
4,Wellesley College,MA,168218,5,5,4,3,3,3,3,...,4,4,4,6,5,5.0,4.0,8.0,8.0,6.0
5,Bowdoin College,ME,161004,6,6,6,6,5,3,6,...,6,6,6,4,4,13.0,9.0,12.0,10.0,NaN
6,Carleton College,MN,173258,6,9,9,7,5,8,7,...,10,13,12,12,10,14.0,12.0,3.0,4.0,4.0
7,United States Naval Academy,MD,164155,6,6,6,17,22,21,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Claremont McKenna College,CA,112260,9,8,6,7,9,8,9,...,12,11,16,14,13,21.0,18.0,23.0,NaN,NaN
9,United States Military Academy,NY,197036,9,11,15,21,18,12,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Middlebury College,VT,230959,11,9,9,7,5,6,4,...,11,8,8,9,8,12.0,14.0,17.0,NaN,NaN
11,Wesleyan College,GA,141325,NaN,157,149,145,143,141,140,...,T4 (121-160),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,West Virginia State University,WV,237899,NaN,NaN,NaN,NaN,T2 (173-229),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,West Virginia Wesleyan College,WV,237969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Western Maryland College,MD,164270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,T4 (121-160),Q4 (106-140),Q4 (106-140),Q4 (106-140),Q4 (107-141),NaN,NaN,NaN,NaN,NaN
15,Western State College of Colorado,CO,128391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,William Jewell College,MO,179955,NaN,NaN,NaN,NaN,155,147,154,...,T4 (121-160),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,William Peace University,NC,199272,NaN,NaN,NaN,NaN,T2 (173-229),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Williams Baptist University,AR,107877,NaN,T2 (168-222),T2 (171-221),T2 (164-215),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Wingate University,NC,199962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Wisconsin Lutheran College,WI,240338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Xavier University of Louisiana,LA,160904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
result=pd.merge(df1, df2, left_index=True, right_index=True, how='inner')
result

Empty DataFrame
Columns: [College Name_x, State_x, IPEDS ID_x, 2023_x, 2022_x, 2021_x, 2020_x, 2019_x, 2018_x, 2017_x, 2016_x, 2015_x, 2014_x, 2013_x, 2012_x, 2011_x, 2010_x, 2009_x, 2008_x, 2007_x, 2006_x, 2005_x, 2004_x, 2003_x, 2002_x, 2001_x, 2000_x, 1999_x, 1998_x, 1997_x, 1996_x, 1995_x, 1994_x, 1993_x, 1992_x, 1991_x, 1990_x, 1989_x, 1988_x, 1986_x, 1984_x, College Name_y, State_y, IPEDS ID_y, 2023_y, 2022_y, 2021_y, 2020_y, 2019_y, 2018_y, 2017_y, 2016_y, 2015_y, 2014_y, 2013_y, 2012_y, 2011_y, 2010_y, 2009_y, 2008_y, 2007_y, 2006_y, 2005_y, 2004_y, 2003_y, 2002_y, 2001_y, 2000_y, 1999_y, 1998_y, 1997_y, 1996_y, 1995_y, 1994_y, 1993_y, 1992_y, 1991_y, 1990_y, 1989_y, 1988_y, 1986_y, 1984_y]
Index: []

[0 rows x 82 columns]

In [64]:
from sklearn.preprocessing import normalize
df3=df1[df1.columns[3:12]]
#df3
normalized_df=normalize(df3, norm='l2', axis=1)
normalized_df3=pd.DataFrame(normalized_df, columns=df3.columns)
normalized_df3

,2023,2022,2021,2020,2019,2018,2017,2016,2015
0,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
1,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
2,0.203653,0.271538,0.271538,0.339422,0.339422,0.407307,0.475191,0.271538,0.339422
3,0.410391,0.307794,0.307794,0.307794,0.307794,0.307794,0.410391,0.307794,0.307794
4,0.431934,0.431934,0.345547,0.259161,0.259161,0.259161,0.259161,0.345547,0.345547
5,0.375735,0.375735,0.375735,0.375735,0.313112,0.187867,0.375735,0.250490,0.313112
6,0.264906,0.397360,0.397360,0.309058,0.220755,0.353209,0.309058,0.353209,0.353209
7,0.144841,0.144841,0.144841,0.410384,0.531085,0.506945,0.289683,0.217262,0.313823
8,0.367118,0.326327,0.244745,0.285536,0.367118,0.326327,0.367118,0.367118,0.326327
9,0.171405,0.209495,0.285675,0.399946,0.342811,0.228540,0.361856,0.418991,0.457081
10,0.505247,0.413384,0.413384,0.321521,0.229658,0.275589,0.183726,0.183726,0.321521

In [69]:
percent_missing = df1.isnull().sum() * 100 / len(df1)
percent_missing

College Name     0.000000
State            0.000000
IPEDS ID         0.000000
2023             0.000000
2022             0.000000
2021             0.000000
2020             0.000000
2019             0.000000
2018             0.000000
2017             0.000000
2016             0.000000
2015             0.000000
2014             0.000000
2013             0.000000
2012             0.000000
2011             0.000000
2010             0.000000
2009             0.000000
2008             0.000000
2007            18.181818
2006            18.181818
2005            18.181818
2004            18.181818
2003            18.181818
2002            18.181818
2001            18.181818
2000            18.181818
1999            18.181818
1998            18.181818
1997            18.181818
1996            18.181818
1995            18.181818
1994            18.181818
1993            18.181818
1992            18.181818
1991            18.181818
1990            18.181818
1989            18.181818
1988            18.181818
1986            36.363636
1984            45.454545
dtype: float64

In [86]:
df1=df.loc[:10]
df1['1990']=df1['1990'].fillna(method='bfill')
df1['1988']=df1['1988'].fillna(method='ffill')
df1['1986']=df1['1986'].fillna(df1['1986'].mean())
df1['1984']=df1['1984'].fillna(df1['1984'].median())
df1

<ipython-input-86-8f4a62500b42>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['1990']=df1['1990'].fillna(method='bfill')
<ipython-input-86-8f4a62500b42>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['1988']=df1['1988'].fillna(method='ffill')
<ipython-input-86-8f4a62500b42>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['1986']=df1['1986'].fillna(df1['1986'].mean())
<ipython-input-86-8f4a62500b42>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['1984']=df1['1984'].fillna(df1['1984'].median())

,College Name,State,IPEDS ID,2023,2022,2021,2020,2019,2018,2017,...,1995,1994,1993,1992,1991,1990,1989,1988,1986,1984
0,Williams College,MA,168342,1,1,1,1,1,1,1,...,2,2,1,1,3,3.0,3.0,1.0,1.0,2.0
1,Amherst College,MA,164465,2,2,2,2,2,2,2,...,1,1,2,3,1,2.0,2.0,4.0,3.0,1.0
2,Pomona College,CA,121345,3,4,4,5,5,6,7,...,5,5,5,5,6,4.0,5.0,6.0,7.0,9.0
3,Swarthmore College,PA,216287,4,3,3,3,3,3,4,...,3,3,3,2,2,1.0,1.0,2.0,2.0,2.0
4,Wellesley College,MA,168218,5,5,4,3,3,3,3,...,4,4,4,6,5,5.0,4.0,8.0,8.0,6.0
5,Bowdoin College,ME,161004,6,6,6,6,5,3,6,...,6,6,6,4,4,13.0,9.0,12.0,10.0,3.0
6,Carleton College,MN,173258,6,9,9,7,5,8,7,...,10,13,12,12,10,14.0,12.0,3.0,4.0,4.0
7,United States Naval Academy,MD,164155,6,6,6,17,22,21,12,...,NaN,NaN,NaN,NaN,NaN,21.0,NaN,3.0,5.0,3.0
8,Claremont McKenna College,CA,112260,9,8,6,7,9,8,9,...,12,11,16,14,13,21.0,18.0,23.0,5.0,3.0
9,United States Military Academy,NY,197036,9,11,15,21,18,12,19,...,NaN,NaN,NaN,NaN,NaN,12.0,NaN,23.0,5.0,3.0
10,Middlebury College,VT,230959,11,9,9,7,5,6,4,...,11,8,8,9,8,12.0,14.0,17.0,5.0,3.0